{% extends "layouts/base.twig" %}

{% block title %}Home - Technical Challenge{% endblock %}

{% block content %}
<form action="{{ action }}" method="POST">
<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
<div class="row">
    <div class="mb-3 col-md-6">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
    </div>
  <div class="mb-3 col-md-6">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
    </div>
<div class="row">
  <div class="mb-3 col-md-6">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
   <div class="mb-3 col-md-6">
    <label for="exampleInputPassword1" class="form-label">Conform Password</label>
    <input type="password" name="conform_password" class="form-control" id="exampleInputPassword1">
  </div>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}